{% extends 'base.html.twig' %}

{% block title %}Nouvelle commande{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="index d-flex flex-column">
            <div class="d-flex align-items-center justify-content-around">
                <p class="indexTitle text-center border-bottom">Création / modification commandes de transfert SAV Retour</p>
            </div>
            <div class="d-flex flex-row justify-content-center mb-3 mt-3">
                <div class="align-self-center mx-3">
                    <a href="{{ path('commande_upload') }}" class="link">Intégrer une commande par fichier Excel <i class="fas fa-plus"></i></a>
                </div>
                <div class="align-self-center mx-3">
                    <a href="{{ path('commande_new') }}" class="link">Créer une nouvelle commande <i class="fas fa-plus"></i></a>
                </div>
                <div class="align-self-center mx-3">
                    <a href="{{ path('commande_ligne_add') }}" class="link">Alimenter une commande <i class="fas fa-plus"></i></a>
                </div>
            </div>

            <div class="d-flex flex-row ml-1 mb-3 mt-3">
                <div class="align-self-center mr-5">
                    <a href="{{ path('commande_index') }}">
                        <button type="button" class="btn btn-primary off">Toutes les commandes<i class="fas fa-check-square ml-2"></i></button>
                    </a>
                </div>
                <div class="align-self-center">
                    <a href="{{ path('commande_solde') }}">
                        <button type="button" class="btn btn-primary on">Commandes soldées<i class="fas fa-square ml-2"></i></button>
                    </a>
                </div>
            </div>
            <div class="card">
            <div class="card-header d-flex flex-row justify-content-around">
                <div class="col-2 px-0 text-center align-self-center"><b>Numéro commande</b></div>
                <div class="col-2 px-0 text-center align-self-center"><b>Demandeur</b></div>
                <div class="col-2 px-0 text-center align-self-center"><b>Magasin cédant</b></div>
                <div class="col-2 px-0 text-center align-self-center"><b>Destination</b></div>
                <div class="col-2 px-0 text-center align-self-center"><b>Date</b></div>
                <div class="col-1 px-0 text-center align-self-center"><b>Solde</b></div>
                <div class="col-1 px-0 text-center align-self-center"><b>Action</b></div>
            </div>
            </div>
            <div class="accordion" id="accordionExample">
                <div class="card">
                    {% for commande in commandes %}
                    <div class="card-header d-flex flex-row justify-content-around" id="heading{{ loop.index }}">
                        <button class="col-2 btn btn-link collapsed py-0 dropdown-toggle" type="button" data-toggle="collapse" data-target="#collapse{{ loop.index }}" aria-expanded="false" aria-controls="collapse{{ loop.index }}">
                            {{ commande.numCommande }}
                        </button>
                        <div class="col-2 text-center align-self-center">{{ commande.demandeur }}</div>
                        <div class="col-2 text-center align-self-center">{{ commande.magasinCedant }}</div>
                        <div class="col-2 text-center align-self-center">{{ commande.destination }}</div>
                        <div class="col-2 text-center align-self-center">{{ commande.date|date("d/m/Y") }}</div>
                        {% if commande.solde %}
                            <div class="col-1 text-center align-self-center"><i class="far fa-check-circle"></i></div>
                        {% else %}
                            <div class="col-1 text-center align-self-center"><i class="far fa-circle"></i></div>
                        {% endif %}
                        <div class="col-1 text-center align-self-center">
                            <a href="{{ path('commande_edit', {'id': commande.id}) }}" title="Modifier">
                                <i class="fas fa-edit editButton ml-1"></i>
                            </a>
                            <form method="post" action="{{ path('commande_delete_id', {'id': commande.id}) }}" onsubmit="return confirm('Êtes-vous sûr(e) de vouloir supprimer cette commande?');">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ commande.id) }}">
                                <button class="btn p-0"><i class="fas fa-trash-alt deleteButton" title="Supprimer"></i></button>
                            </form>
                        </div>
                    </div>

                    <div id="collapse{{ loop.index }}" class="collapse" aria-labelledby="heading{{ loop.index }}" data-parent="#accordionExample">
                        {% for commandeligne in commandelignes %}
                        {%  if commandeligne.commande.id == commande.id %}
                            <a href="{{ path('commande_ligne_edit', {'id': commandeligne.id}) }}" title="Modifier">
                                <div class="card-body d-flex flex-row justify-content-around border-bottom">
                                    <div class="col-4 text-center align-self-center"><b>Gencod:</b> {{ commandeligne.gencod }} </div>
                                    <div class="col-4 text-center align-self-center"><b>Quantité:</b> {{ commandeligne.qte }} </div>
                                    <div class="col-4 text-center align-self-center"><b>Date:</b> {{ commandeligne.date|date("d/m/Y H:i:s") }}</div>
                                </div>
                            </a>
                        {% endif %}
                        {% endfor %}
                    </div>
                    {% else %}
                        <div class="card-header d-flex flex-row justify-content-around py-5">
                            Aucune commande
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="d-flex align-items-center justify-content-center mt-4">
                <a href="{{ path('home') }}" class="navigationButton mx-2" title="Menu principal">
                    <i class="fas fa-home fa-2x"></i>
                </a>
                <a href="{{ path('app_logout') }}" class="navigationButton mx-2" title="Déconnexion">
                    <i class="fas fa-power-off fa-2x"></i>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
