{% extends 'base.html.twig' %}

{% block title %}Commande List{% endblock %}

{% block body %}
    <h1>Liste des commandes</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Num commande</th>
                <th>demandeur</th>
                <th>destination</th>
                <th>solde</th>
                <th>Date</th>
                <th><a href="{{ path('commande_ligne_add') }}">new</a></th>
            </tr>
        </thead>
        <tbody>
        {% for commande in commandes %}
            <tr>
                <td>{{ commande.id }}</td>
                <td>{{ commande.numCommande }}</td>
                <td>{{ commande.demandeur }}</td>
                <td>{{ commande.destination }}</td>
                <td>{{ commande.solde ? "1" : "0" }}</td>
                <td>{{ commande.date|date("d/m/Y H:i:s") }}</td>


        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
