{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% extends 'base.html.twig' %}

{% block title %}New CommandeLigne{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="edit d-flex flex-column">
        <div class="d-flex align-items-center justify-content-around">
            <p class="editTitle text-center border-bottom">Création de commande (n° {{ num_commande }}) <b>2/2</b></p>
        </div>
        <form method="post" class="mt-2 d-flex flex-column justify-content-center">

            <div class="text-dark d-flex flex-column">
                {{ form_start(form) }}
                <div class="col-4 align-self-center text-center mt-3 num">
                    <p class="mb-0">N° commande</p>
                    {{ form_row(form.commande) }}
                </div>
                <div class="d-flex flex-row justify-content-around mt-5">
                    <div class="col-5 align-self-center text-center mt-3">
                        <p class="mb-0">Gencod</p>
                        {{ form_row(form.gencod) }}
                    </div>
                    <div class="col-1 align-self-center text-center mt-3 hidden">
                        <p class="text-center mb-0">Encours ?</p>
                        {{ form_row(form.encours) }}
                    </div>
                    <div class="col-5 align-self-center text-center mt-3">
                        <p class="mb-0">Quantité</p>
                        {{ form_row(form.qte) }}
                    </div>
                </div>
                <div class="align-self-center hidden">
                    <p class="text-center mb-0">Date</p>
                    <div class="d-flex flex-row justify-content-between">
                        <div>
                            {{ form_widget(form.date.date.day) }}
                        </div>
                        <div>
                            {{ form_widget(form.date.date.month) }}
                        </div>
                        <div class="mr-3">
                            {{ form_widget(form.date.date.year) }}
                        </div>
                        <div>
                            {{ form_widget(form.date.time.hour) }}
                        </div>
                        <div>
                            {{ form_widget(form.date.time.minute) }}
                        </div>
                    </div>
                </div>
                <div class="mt-4 d-flex justify-content-center">
                    {{ form_widget(form.saveAndNew, {'attr': {"class": "btn btn-lg btn-block registerAndContinue", }, 'label': 'Enregistrer et continuer'}) }}
                </div>
                <div class="mt-5 d-flex justify-content-center">
                    {{ form_widget(form.save, {'attr': {"class": "btn btn-lg btn-block register"}, 'label': 'Enregistrer et quitter'}) }}
                </div>
                <div>
                    {{ form_row(form.picking) }}
                </div>
            </div>

            {{ form_end(form) }}

        </form>

        <div class="mt-5">
            <a href="{{ path('commande_index') }}"><i class="navigationButton fas fa-arrow-circle-left fa-3x" title="Retour au menu principal"></i></a>
        </div>

    </div>
</div>
{% endblock %}
