{% block header %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand mobile text-dark" href="{{ path('home') }}">Picking</a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link text-dark appname" href="{{ path('home') }}">Picking<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="{{ path('commande_index') }}">Commande</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="{{ path('commande_ligne_index') }}">Commande Ligne</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="{{ path('picking_index') }}">Picking</a>
                </li>
                {%  if app.user %}
                    {% if app.user.username %}
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="">Menu</a>
                        </li>
                    {% endif %}
                {% endif %}
            </ul>
            <ul class="navbar-nav align-content-end">
                {% if app.user %}
                    <li class="nav-link text-black-50">
                        Bonjour {{ app.user.username }}
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="{{ path('app_logout') }}"> Se déconnecter</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="{{ path('app_login') }}"> Se connecter</a>
                    </li>
                {% endif %}
            </ul>
            <span class="navbar-text">
            </span>
        </div>
    </nav>

{% endblock %}