{% extends 'base.html.twig' %}

{% block title %}Picking{% endblock %}

{% block body %}
    <h1>Picking</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ picking.id }}</td>
            </tr>
            <tr>
                <th>Num_cmd</th>
                <td>{{ picking.numCmd }}</td>
            </tr>
            <tr>
                <th>Imei</th>
                <td>{{ picking.imei }}</td>
            </tr>
            <tr>
                <th>Gencod</th>
                <td>{{ picking.gencod }}</td>
            </tr>
            <tr>
                <th>Date_heure</th>
                <td>{{ picking.dateHeure ? picking.dateHeure|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Num_dossier</th>
                <td>{{ picking.numDossier }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('picking_index') }}">back to list</a>

    <a href="{{ path('picking_edit', {'id': picking.id}) }}">edit</a>

    {{ include('picking/_delete_form.html.twig') }}
{% endblock %}
